.button {
    background-color: transparent;
    border: 2px solid rgb(188, 79, 39);
    color: rgb(188, 79, 39);
    font-size: 1rem;
    font-family: inherit;
    padding: 0.5rem 0.5rem;  
    margin: 0.5rem 0.3rem;
}

input {
    padding: 10px;
}

p {
    font-family: inherit;
    font-size: small;
    padding: 0;  
    margin: 0.75rem;
}