.materials {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    color: rgb(188, 79, 39) !important;
    text-decoration: underline !important;
}