.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
}

.search {
    margin-left: 2rem;
}

.materials_card {
    width: 100%;
    border-top: solid 1px rgb(188, 79, 39);
    padding-top: 0.5rem;
}

.materials_container {
    padding: 0.5rem;
    width: 100%;
}

a {
    color: rgb(188, 79, 39) !important;
    text-decoration: underline !important;
}

.add_button {
    margin-top: 0.5rem;
    margin-bottom: 0;
} 

