.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card_image {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem 0.5rem;
    object-fit: cover;
    width: 80%;
}

.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

/* testing git push */